<p>common-test works!</p>




<button (click)="navigateToLMSWeb()">Call API</button> <br /> <br />

<button (click)="openWebview()">Call Token API</button> <br /> <br />

<button (click)="getToken()">Call Token API 1</button> <br /> <br />

<button (click)="getUserLOcationData()">get user location data</button> <br /> <br />

<button (click)="sendEncryptedData()">send encrypted data</button> <br /> <br />

<button (click)="callReadAPI()">Call Read API</button>



<div (click)="testDivButton()">Test DIV</div> <br /> <br />


<p>Style 1</p> <br />
<div style="display: flex;">
    <img *ngIf="showMainLogo" (click)="testDivButton()" class="cursor-pointer" alt="Diksha Logo" [src]= "mainLogo" style="width: 97px; height: 55px;">
    <div *ngIf=" ('mainLogo' != tenantInfo.logo) && showMainLogo " style="width: 2px; height: 50px; background-color: #d5d5d5; margin: 0 12px;"></div>
    <img *ngIf=" 'mainLogo' != tenantInfo.logo " (click)="testDivButton()" alt="State Logo" [src]= stateLogo style="width: 55px; height: 55px;">
</div>
<br><br>

<div >
    <button *ngIf="isShowGoogleCLassAddButton" class="btn add-gc-btn" (click) = "callAPI($event)">Add</button>
</div>
<h1 *ngIf="(condition1 == 'student' || condition2 == 'teacher') && condition3 == 'home' ">Satisfied</h1>

<br><br>

<button  (click) = "googleRedirect()">Generate Token for google class room</button>