<!-- <button (click)="loginWithFacebook()">Login with Facebook</button> -->
<!-- <button (click)="handleBeforeUnload($event)">Test local API</button> -->

<!-- <p>silent auth</p> -->

<!-- <button (click)="aesEncryptObject()">Encrypt Data</button>

<button (click)="resetPassowrd()">Reset password</button>

<input type="date" class="form-control" id="dob" placeholder="Date of Birth"  formControlName="dob" name="dob"  autocomplete="off" />

<br> <br>

<input type="date" class="form-control" name="dateOfBirth" formControlName="dateOfBirth" /> -->


<!-- validate/recaptcha -->

<button (click)="callApi()"> Click</button> <br> <br>

<button (click)="redirectTab()">Open Tab</button> <br> <br>

<button (click)="encrypt()">Encrypt</button> <br> <br>

<button (click)="decrypt()">Decrypt</button> <br> <br>

<button (click)="sendSecureRequest()">Send Protected Request </button> <br> <br>


<button (click)="decryptData()">Decrypt Data</button> <br> <br>

<!-- <img src="https://obj.diksha.gov.in/ntp-content-production/homepage/prod/assets/homepag/logo-text.png" alt="new image" id="newImage" /> -->

<img src="https://obj.diksha.gov.in/ntp-content-production/homepage/prod/assets/homepag/logo-text.png" alt="Book Icon"
    id="newImage"
    onerror="this.style.display='none'; this.insertAdjacentHTML('afterend', '<span style=\'color:black;font-size:16px;\'>Book Icon</span>')" />

    <!-- <img src="https://obj.diksha.gov.in/ntp-content-production/homepage/prod/assets/homepage/logo-text.pn" 
     alt="new image" 
     id="newImage" 
     onerror="this.onerror=null; this.style.display='none'; this.insertAdjacentHTML('afterend', '<div style=\'width: 50px; height: 50px; border: 1px solid black; display: flex; align-items: center; justify-content: center; font-size: 10px; font-weight: bold; text-align: center;\'>Book Icon</div>')"> -->
     <button (click)="locationUrl()">location Url</button> <br> <br>